<section class="w3l-block py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 align-self">
                <h3>Ne İstediğinize Karar Verdiniz Mi?</h3>
                <p class="mt-md-4 mt-3 mb-0">
                    : Bol malzemeli, kalınlığı ile dikkat çeken pizza! Her lokmada farklı bir tat keşfedeceğiniz bu lezzet harikası, damaklarınıza bayram ettirecek.
                </p>
                <a href="#url" class="btn-style btn-primary btn mt-lg-5 mt-4"><span class="fa fa-shopping-cart mr-2"></span> Online Sipariş</a>
            </div>
            <div class="col-lg-4 col-md-6 align-self mt-md-0 mt-5">
                <h3>Her Siparişinizde Puan Kazanın</h3>
                <p class="mt-md-4 mt-3 mb-0">
                    Her Siparişinizde Pan Puan Kazanın!
                    <br /><br /><br /><br />
                </p>
                <a href="#url" class="btn-style btn-primary btn mt-lg-5 mt-4"><span class="fa fa-book mr-2"></span> Daha fazla bilgi edinin</a>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-5">
                <img src="~/pizzapan-starter/assets/images/a1.jpg" class="img-fluid radius-image" alt="image">
            </div>
        </div>
    </div>
</section>