
<section class="w3l-about py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6">
                <h3>Şehrinizdeki En İyi Pizzayı Yapıyoruz</h3>
                <h5 class="mt-lg-3 mt-2">
                    Hazırlanış aşamasından sofranıza gelen süreçte kalite ve hizmet açısından müşterilermize en iyisini sunmak temel vizyonumuz.
                </h5>

                <a href="#" class="btn-style btn-primary btn mt-lg-5 mt-4">Hakkımızda daha fazla bilgi...</a>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/pizza.png" alt="" /></a>
                        <h4>
                            <a href="#url">
                                Doğal malzemelerle pişmiş doğru yemek
                            </a>
                        </h4>
                    </div>
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/burger.png" alt="" /></a>
                        <h4>
                            <a href="#url">
                                Doğal en kaliteli ürünlerin kullanımı
                            </a>
                        </h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/drink.png" alt="" /></a>
                        <h4>
                            <a href="#url">
                                Dünyanın en iyi Şefi ve Beslenme Uzmanı!
                            </a>
                        </h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/fries.png" alt="" /></a>
                        <h4><a href="#url">Kapınıza kadar yapılan en hızlı ve sıcak teslimat</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
