@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
@await Component.InvokeAsync("_HeadPartial")

<body>
    @await Component.InvokeAsync("_NavbarPartial")

    <!--About Who we ara-->
    @await Component.InvokeAsync("_AboutWhoWeArePartial")


    <!--About Feature-->
    @await Component.InvokeAsync("_AboutFeaturePartial")

    <!--About Our Team-->
    @await Component.InvokeAsync("_AboutOurTeamPartial")






    <!--Menu finish-->
    @await Component.InvokeAsync("_FootersContact")

    <!-- move top -->
    @await Component.InvokeAsync("_ScriptPartial")

</body>
</html>
